# Scrapping Data from a Website

In [82]:
from bs4 import BeautifulSoup 
import requests

In [83]:
url = 'https://en.wikipedia.org/wiki/List_of_medical_colleges_in_India'

page = requests.get(url)

soup= BeautifulSoup(page.text,'html')

In [84]:
soup.find_all('table');

In [85]:
soup.find_all('table')[0];

In [86]:
table = soup.find_all('table')[0]

In [87]:
table.find_all('th');

In [88]:
titles = table.find_all('th')

In [89]:
col_titles = [title.text.strip() for title in titles]

In [90]:
print(col_titles)

['State / UT', 'Number of Medical Colleges', 'Number of Stand Alone PG Institutes', 'Ref.']

In [91]:
import pandas as pd

In [92]:
df = pd.DataFrame (columns=col_titles)
df

Empty DataFrame
Columns: [State / UT, Number of Medical Colleges, Number of Stand Alone PG Institutes, Ref.]
Index: []

In [93]:
th_value = table.find_all('tr')
th_value;

In [94]:
for i in th_value[1:]:
    row_data = i.find_all('td')
    table_rows=[data.text.strip() for data in row_data]
    
    
    length = len(df)
    df.loc[length] = table_rows

In [59]:
df

,State / UT,Number of Medical Colleges,Number of Stand Alone PG Institutes,Ref.
0,Andaman & Nicobar Islands,1,0,
1,Andhra Pradesh,31,1,
2,Arunachal Pradesh,1,0,
3,Assam,12,2,
4,Bihar,16,0,
5,Chandigarh,1,1,
6,Chhattisgarh,10,0,
7,Dadra and Nagar Haveli,1,0,
8,Daman and Diu,0,0,
9,Delhi,10,11,
10,Goa,1,0,
11,Gujarat,29,2,
12,Haryana,12,1,
13,Himachal Pradesh,7,0,
14,Jammu & Kashmir,8,0,
15,Jharkhand,7,2,
16,Karnataka,60,9,
17,Kerala,32,2,
18,Ladakh,0,0,
19,Lakshadweep,0,0,
20,Madhya Pradesh,22,0,
21,Maharashtra,56,11,
22,Manipur,2,0,
23,Meghalaya,1,0,
24,Mizoram,1,0,
25,Nagaland,1,0,
26,Odisha,15,1,
27,Puducherry,9,0,
28,Punjab,10,2,
29,Rajasthan,27,0,
30,Sikkim,1,1,
31,Tamil Nadu,50,5,
32,Telangana,33,1,
33,Tripura,2,0,
34,Uttar Pradesh,55,5,
35,Uttarakhand,6,0,
36,West Bengal,25,8,
37,Total,543,64,

In [60]:
df.to_csv(r'C:\Users\anjan\colleges in india.csv',index=False)